.content{
    padding-top: 100px;
    background-color: rgb(243, 243, 243);
}

.content__wrapper{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.perfil{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 1000px;
    margin: 10px;
    padding: 20px;
    /*modificar p/ mobile*/
}

.perfil:hover{
    background-color: #fff;
    color:  #414141;
    transform: translateY(-3px);
    box-shadow: 0px 5px 10px gray;
}

.perfil__secondary{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.perfil__primary h2{
    font-weight: 800;
}

.perfil--img{
    display: flex;
    align-items: center;
}

.perfil--text{
    padding: 20px;
}

@media screen and (max-width: 600px){
    .content{
        background-color: #fff;
    }
    .content__wrapper{
        padding: 7px;
    }
    .content__wrapper .perfil{
        width: 93%;
    }
    .perfil{
        margin: 0;
        padding: 0;
    }
    .perfil:hover{
        transform: none;
    }
    .perfil__secondary{
        display: flex;
        flex-direction: column;
    }
}