.crono{
    background-color: rgb(243, 243, 243);
    color: #414141;
    /*background-size: cover;
    background-position: top;*/
    display: flex;
    justify-content: center;
    padding: 1rem;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
}

.crono .crono__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 80%;
    margin-top: 100px;
    padding: 0.7rem;
    z-index: 2;
    text-align: center;
}
.crono__content .crono__content-title{
    margin: 1rem 0;
}

.crono__content .crono__content-primary{
    padding: 1rem 1rem;
}

.crono__content .crono__content-secondary{
    padding: 1rem 2rem;
}